/* Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* Remove default margin */
*:not(dialog) {
  margin: 0;
}

body {
  /* Increase line-height */
  line-height: 1.5;
  /* Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}


/* Fonts */

@font-face {
	font-family: "Roboto";
	src: url("./assets/fonts/Roboto-Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Roboto";
	src: url("./assets/fonts/Roboto-Bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Roboto";
	src: url("./assets/fonts/Roboto-Black.ttf") format("truetype");
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}


/* Body */

body {
	background-color: rgb(45, 44, 44);
	font-family: "Roboto";
}

/* Main container */

#content {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}


/* Header */

header {
	display: flex;
	justify-content: space-between;
	color: rgb(169, 167, 167);
}

/* Header Menu */

nav {
	display: flex;
	flex-direction: column;
	position: fixed;
	width: 0;
	top: 0;
	left: 0;
	z-index: 1;
	height: 100%;
	/* If width is 0 and horizontal overflow is not hidden the idems could be seen */
	overflow-x: hidden;
	/* Transition speed */
	transition: 0.5s;
	background-color: rgb(45, 44, 44);
}

nav a {
	text-decoration: none;
	color: rgb(169, 167, 167);
}

.openBtn:hover {
	cursor: pointer;
}

.closeBtn {
	text-align: right;
}

.openBtn,
.closeBtn {
	font-size: clamp(1.5rem, 2rem + 0.5vw, 3rem);
	padding: 1rem;
}

nav a {
	font-size: clamp(2rem, 2rem + 0.5vw, 3rem);
	padding: 0.5rem 2rem;
}


/* Logo */

.logoDiv {
	padding: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: clamp(1rem, 2rem + 0.5vw, 3rem);
}


/* Middle Content */

#mainContent {
	flex: 1;
	width: min(50rem, 85vw);
	margin: auto;
}

projectview {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	padding-top: 1rem;
}


/* Project Title */

.projectDiv {
	font-size: clamp(1rem, 1.5rem + 0.5vw, 3rem);
	color: white;
}


/* Todo Card */

.todoCard {
	display: grid;
	grid-template-columns: 2rem 1fr;
	grid-template-rows: 3fr;
	border: 1px solid grey;
	border-radius: 15px;
	padding: 1.5rem;
	gap: 1rem;
}

.todoCardLeft {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.todoCheckBtn {
	background-color: rgb(55, 53, 53);
	border: 1px solid rgb(110, 110, 110);
	border-radius: 4px;
	width: 27px;
    height: 27px;
	position: relative;
	cursor: pointer;
}

.todoCheckBtn::after {
	/* it is required to set the 'content' attribute */
	content: "";
	/* Set position to 'absolute' for it to respect the limit of the button */
	position: absolute;
	top: 0px;
	left: 8px;
	width: 10px;
	height: 20px;
	border-width: 0 2px 2px 0;
	border-style: solid;
	color: white;
	transform: rotate(45deg);
	opacity: 0;
	/* Smooth transition of appearance */
	transition: opacity 0.2s ease-in-out;
}

.todoCheckBtn.completed {
	background-color: rgb(29, 80, 31);
	border-color: rgb(29, 80, 31);
}

/* When the button is marked as done */
.todoCheckBtn.completed::after {
    opacity: 1;
}

.todoDeleteBtn {
	background-color: rgb(45, 44, 44);
	border: none;
}

.todoDeleteBtn svg {
	width: 24px;
    height: 24px;
    fill: white;
}

.todoCardRight {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.todoTitleAndDescription{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.todoTitle {
	color: white;
	font-weight: bold;
	font-size: clamp(0.65rem, 1rem + 1vw, 1rem);
}

.todoDescription {
	color: rgb(152, 150, 150);
}

.todoTagAndDueDate {
	display: flex;
	justify-content: flex-end;
	gap: 0.5rem;
}

.todoTagAndDueDate svg {
	width: 1em;
	height: 1em;
}

.todoTag,
.todoDueDate {
	display: flex;
	align-items: center;
	gap: 0.2rem;
	font-size: clamp(0.65rem, 0.4rem + 1vw, 0.85rem);
	padding: 0.2em 0.6em;
}

.todoTag {
	background-color: rgb(141, 142, 142);
	border: 1px solid rgb(141, 142, 142);
	border-radius: 15px;
	color: rgb(57, 58, 58);
	font-weight: bold;
	display: flex;
	justify-content: center;
}

.todoTag svg {
	fill: rgb(57, 58, 58);
}

.todoDueDate {
	background-color: rgb(10, 131, 168);
	border: 1px solid rgb(10, 131, 168);
	border-radius: 15px;
	color: rgb(5, 62, 79);
	font-weight: bold;
	display: flex;
	justify-content: center;
}

.todoDueDate svg {
	fill: rgb(5, 62, 79);
}

.todoDone {
	text-decoration: line-through;
}


/* Media queries to use hover just if a mouse is available.
This avoids the buttons to stay colored in mobile. */

@media (hover: hover) {
	.openBtn:hover,
	.closeBtn:hover,
	nav a:hover {
		color: white;
	}

	.todoDeleteBtn svg:hover {
		fill: rgb(180, 5, 5);
		cursor: pointer;
	}

	.todoCheckBtn:hover {
		background-color: rgb(104, 101, 101);
	}

	.todoCheckBtn.completed:hover {
		background-color: rgb(45, 122, 48);
		border-color: rgb(45, 122, 48);
	}

}


/* Media queries to increase grid columns based in screen width */

@media (min-width: 640px) {
	.todoCardRight {
		display: grid;
		grid-template-columns: 1fr max-content;
	}

	.todoTagAndDueDate {
		display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        gap: 0.5rem;
	}

	.todoTitleAndDescription {
		display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0.2rem;
	}
}