/* Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* Remove default margin */
*:not(dialog) {
  margin: 0;
}

body {
  /* Increase line-height */
  line-height: 1.5;
  /* Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}


/* Fonts */

@font-face {
	font-family: "Roboto";
	src: url("./assets/fonts/Roboto-Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Roboto";
	src: url("./assets/fonts/Roboto-Bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Roboto";
	src: url("./assets/fonts/Roboto-Black.ttf") format("truetype");
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}


/* Body */

body {
	background-color: rgb(45, 44, 44);
	font-family: "Roboto";
}

/* Main container */

#content {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}


/* Header */

header {
	display: flex;
	justify-content: space-between;
	color: rgb(169, 167, 167);
}

/* Header Menu */

nav {
	display: flex;
	flex-direction: column;
	position: fixed;
	width: 0;
	top: 0;
	left: 0;
	z-index: 1;
	height: 100%;
	/* If width is 0 and horizontal overflow is not hidden the idems could be seen */
	overflow-x: hidden;
	/* Transition speed */
	transition: 0.5s;
	background-color: rgb(45, 44, 44);
}

nav a {
	text-decoration: none;
	color: rgb(169, 167, 167);
}

.openBtn:hover {
	cursor: pointer;
}

.closeBtn {
	text-align: right;
}

.openBtn,
.closeBtn {
	font-size: clamp(1.5rem, 2rem + 0.5vw, 3rem);
	padding: 1rem;
}

nav a {
	font-size: clamp(2rem, 2rem + 0.5vw, 3rem);
	padding: 0.5rem 2rem;
}


/* Logo */

.logoDiv {
	padding: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: clamp(1rem, 2rem + 0.5vw, 3rem);
}


/* Middle Content */

#mainContent {
	flex: 1;
}


/* Media queries to use hover just if a mouse is available.
This avoids the buttons to stay colored in mobile. */

@media (hover: hover) {
	.openBtn:hover,
	.closeBtn:hover,
	nav a:hover {
		color: white;
	}
}